#sobreMim {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 50px;
    height: 100vh;
    gap: 50px;
    border-block: 3px solid rgba(0, 0, 0, 0.200);
}
#resumo {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 20px;
}
#resumo h2 {
    font-size: 4rem;
    color: rgb(188, 0, 213);
}
#resumo p {
    font-size: 1.5rem;
}
#meus-conhecimentos h2 {
    font-size: 3.5rem;
    color: rgb(188, 0, 213);
}
#meus-conhecimentos ul {
    list-style: none;
    font-size: 1.5rem;
}